.Progress {
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.Progress > div {
    margin: 0 3px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
    animation: bouncedelay 1.4s infinite ease-in-out both;
}
.Progress.md > div {
    width: 10px;
    height: 10px;
}
.Progress.sm > div {
    width: 5px;
    height: 5px;
}
.Progress > .progress-info {
    color: #fff;
    font-weight: bold;
}
.Progress.alt > div {
    background-color: #20a8d8;
}
.Progress.alt > .progress-info {
    color: #333;
    font-weight: bold;
}
.Progress > .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.Progress > .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.Progress.blue > div {
    background-color: #fff;
}
@-webkit-keyframes bouncedelay {
    0%, 100% {
        -webkit-transform: scale(0);
        opacity: 1;
   }
    50% {
        -webkit-transform: scale(1);
        opacity: 0;
   }
}
@keyframes bouncedelay {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
   }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
   }
}
